



*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*Nav*/

  
/*-------Slider------*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
}
/*------------------Offer------------*/
#Offer
{
    background-size: cover;
    background-position: center;
}

/*------------Shop-----------*/
#shop
{
    padding-top: 55px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.shop-pic
{
    margin-top: 25px;
    height:332px;
    width: 250px;
}
.shop-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;

}
.shop-pic .img-box img:hover
{
    filter: grayscale(0);
    cursor: pointer;
}
.shop-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.shop-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#team .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul
{
  padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li
{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul, .img-box ul li
{
    transition: 0.5s;
}
/*------------Promo----------*/
#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/promo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}
/*--------Footer-------*/
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 50%);
}
#footer .footer {
	min-height: 100px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
    height: 70px;
	width: 400px;
	margin: 0 5px;
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
    
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/*---------Login---------*/
*{
	font-family: arial;
}

body{
	background-color: #000000;
	background-repeat: no-repeat;
	background-size: cover;
}
p1{
    color: #fff;
}
p2{
	font-size: 18px;
    margin: 0;
    color: rgb(51, 139, 223);
}
h2{
	color: #fff;
}

.card {
  margin: 5% 35% 0 35%;
  padding: 25px;
  background-color: #4b4949f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.034);
  transition: 0.3s;
}

.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.textbox{
	margin-bottom: 25px;
	padding: 5px;
	border: 0;
	background-color: #EAEDED;
	border-bottom: 2px solid #000000;
	font-size: 15px;
}
.User_img{
	width: 200px;
	height: 200px;
}
.btn_Next{
	margin-top: 15px;
	width: 150px;
	border:0;
	background-color: #3498DB;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn_Next:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #2874A6;
}
.btn_signin{
	margin-top: 15px;
	width: 150px;
	border:0;
	background-color: #2ECC71;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn_signin:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #239B56;
}
.btn_clear{
	width: 150px;
	border:0;
	background-color: #E74C3C;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn_clear:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #B03A2E;
}